{% extends "base.html" %}

{% block content %}

    <div class="container">
        <div class="jumbotron" align="center">

            <h3 align="center" id="filmstr" style="font-size:40px; color:black; margin-top:-20px">filmstr dashboard</h3>


            <div class="container">
                <ul class="nav nav-pills" id="myTab">
                    <li class="active"><a href="#moviesTab" data-toggle="pill">My Movies</a></li>
                    <li><a href="#actorsTab" data-toggle="pill">My Actors</a></li>
                    <li><a href="#friendsTab" data-toggle="pill">My Friends</a></li>

                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="moviesTab">


                        <!-- Add movie -->

                        <form class="form-inline" action="/addfriend/" method="post">
                            <div id="movieSearch" class="form-group">
                                <label for="friendName">Find a movie:</label>
                                <input type="text" class="form-control" placeholder="Movie Title"
                                       value="{{ request.form.movieSearch }}" autofocus>
                            </div>
                            <input type="submit" class="btn btn-default" value="Search">
                        </form>
                        <br>
                        <h4>My Favorite Movies</h4>
                        <!-- Movie table -->

                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Title</th>
                                <th>Release Date</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in movies %}
                                <tr>
                                    <td>{{ item.title }}</td>
                                    <td>{{ item.releaseDate }}</td>
                                    <td>
                                        <a href="/movie/{{ item.movieID }}" class="btn btn-default" role="button">View
                                            Movie</a>
                                    </td>
                                    <td>
                                        <a href="/profile/{{ item.movieID }}" class="btn btn-default"
                                           role="button"><span class="glyphicon glyphicon-remove"></span></a>
                                    </td>

                                </tr>

                            {% endfor %}

                            </tbody>
                        </table>

                    </div>
                    <div class="tab-pane" id="actorsTab">

                        <h4>My Favorite Actors</h4>

                        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames
                            ac turpis egestas.</p>
                    </div>
                    <div class="tab-pane" id="friendsTab">


                        <!-- Add friend -->

                        <form class="form-inline" action="/addfriend/" method="post">
                            <div class="form-group">
                                <label for="friendName">Add a friend:</label>
                                <input type="text" class="form-control" id="friendName" name="friendName"
                                       placeholder="Username" value="{{ request.form.friendUsername }}" autofocus>
                            </div>
                            <input type="submit" class="btn btn-default" value="Add">
                        </form>
                        <br>
                    
                        <!-- Friends table -->

                        <h4>My Friends</h4>

                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Username</th>
                            </tr>
                            </thead>
                            <tbody>

                            {% for item in friends %}
                                <tr>
                                    <td>{{ item.firstName }}</td>
                                    <td>{{ item.lastName }}</td>
                                    <td>{{ item.email }}</td>
                                    <td>
                                        <a href="/profile/{{ item.email }}" class="btn btn-default" role="button">View
                                            profile</a>
                                    </td>

                                    <td>
                                        <form class="form-inline" action="/addfriend/" method="post"></form>
                                        <a href="/deletefriend/{{ item.email }}" class="btn btn-default" role="button"
                                           method="post"><span class="glyphicon glyphicon-remove"></span></a>
                                    </td>

                                </tr>

                            {% endfor %}

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>

        </div>
    </div>

{% endblock %}



