{% extends "base.html" %}

{% block content %}

    <img id="filmstrIcon" src="/static/images/filmstriconwhite.png"/>
    <h3 align="center" id="filmstr">filmstr.io</h3>
    <h2 id="subtitle">Plan a movie session with your friends.</h2>


    <div class="container">
        <div class="jumbotron" align="center">

            <p>Sign up or Login to get started.</p>

            <button type="button" class="btn btn-default btn-lg">
                <a href="/signup" style="text-decoration:none"><span class="glyphicon glyphicon-user"></span> Sign
                    Up</a></li>
            </button>


            <button type="button" class="btn btn-default btn-lg">
                <a href="/login" style="text-decoration:none"><span class="glyphicon glyphicon-log-in"></span> Login</a>
            </button>

        </div>
    </div>

{% endblock %}



