{% extends "base.html" %}

{% block content %}

    <div class="container">
    <div class="jumbotron" align="center">

<h3 align="center" id="filmstr" style="font-size:40px; color:black; margin-top:-20px">{{ movie.title }}</h3>
<h4>{{ movie.genre }}</h4>
        <a href="/addmovie/{{ movie.movieID }}" class="btn btn-default" role="button">Favorite</a>

<div class="container">

<h4>Actors</h4>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>

                {% for item in actors %}
                    <tr>
                        <td>{{ item.Name }}</td>
                        <td>
                            <a href="/addactor/{{ item.Name }}" class="btn btn-default" role="button">Favorite</a>
                        </td>
                    </tr>
                {% endfor %}

             </tbody>
        </table>
        </div>




</div><!-- tab content -->
</div><!-- end of container -->


</div>
</div>


{% endblock %}



