 {% extends "base.html" %}

{% block content %}

    <div class="container">
    <div class="jumbotron" align="center">


    <h3 align="center" id="filmstr" style="font-size:40px; color:black; margin-top:-20px">my friends</h3>
    <br>

 <!-- Add friend -->

            <form class="form-inline" action="/addfriend/" method="post">
                <div class="form-group">
                    <label for="friendName">Add a friend:</label>
                    <input type="text" class="form-control" id="friendName" name="friendName" placeholder="Username" value="{{ request.form.friendUsername }}" autofocus>
                </div>
                <input type="submit" class="btn btn-default" value="Add">
            </form>
            <br>
            <!-- Friends table -->

        <h4>My Friends</h4>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                </tr>
            </thead>
            <tbody>

                {% for item in friends %}
                    <tr>
                        <td>{{ item.firstName }}</td>
                        <td>{{ item.lastName }}</td>
                        <td>{{ item.email }}</td>
                        <td>
                            <a href="/profile/{{ item.email }}" class="btn btn-default" role="button">View profile</a>
                        </td>

                        <td>
                            <form method="post" class="form-inline" action="/deletefriend/{{ item.email }}">
                            <button class="btn btn-default">
                                <a role="submit"><span class="glyphicon glyphicon-remove"></span></a>
                            </button>
                            </form>
                        </td>

                    </tr>

                {% endfor %}

             </tbody>
        </table>

    </div><!-- tab content -->
</div><!-- end of container -->

{% endblock %}