{% extends "base.html" %}

{% block content %}

    <div class="container">
        <div class="jumbotron" align="center">

            <h3 align="center" id="filmstr"
                style="font-size:40px; color:black; margin-top:-20px">{{ user.firstName }} {{ user.lastName }}</h3>
            <h5>{{ user.email }}</h5>

            <div class="container">

                {% if session.username != user.email %}
                    <a href="/viewSimilarMovies/{{ user.email }}" class="btn btn-default" role="button"><span
                            class="glyphicon glyphicon-eye-open"></span> View movies you both like</a>
                    <a href="/viewSimilarActors/{{ user.email }}" class="btn btn-default" role="button"><span
                            class="glyphicon glyphicon-eye-open"></span> View actors you both like</a>
                {% endif %}

                <ul class="nav nav-pills">
                    <li class="active"><a href="#moviesTab" data-toggle="tab">Movies</a></li>
                    <li><a href="#actorsTab" data-toggle="pill">Actors</a></li>

                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="moviesTab">
                        <h4>{{ user.firstName }}'s favorite movies</h4>

                        {% if movies|length > 0 %}
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Release Date</th>
                                    <th>Genre</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in movies %}
                                    <tr>
                                        <td>{{ item.title }}</td>
                                        <td>{{ item.releaseDate }}</td>
                                        <td>{{ item.genre }}</td>
                                        <td>
                                            <a href="/movie/{{ item.movieID }}" class="btn btn-default"
                                               role="button"><span class="glyphicon glyphicon-eye-open"></span> View
                                                Movie</a>
                                        </td>

                                        {% if session.username != user.email %}
                                            <td>
                                                <a href="/addmovie/{{ item.movieID }}" class="btn btn-default"
                                                   role="button"><span class="glyphicon glyphicon-star"></span> Favorite</a>
                                            </td>
                                        {% endif %}

                                        {% if session.username == user.email %}
                                            <td>
                                                <a href="/deletemovie/{{ item.movieID }}" class="btn btn-default"
                                                   role="button"><span class="glyphicon glyphicon-remove"></span></a>
                                            </td>
                                        {% endif %}

                                    </tr>

                                {% endfor %}

                                </tbody>
                            </table>
                        {% else %}
                            <br><br><p>{{ user.firstName }} doesn't have any favorite movies yet.</p>
                        {% endif %}

                    </div>
                    <div class="tab-pane" id="actorsTab">
                        <h4>{{ user.firstName }}'s favorite actors</h4>
                        <!-- Actor table -->
                        {% if actors|length > 0 %}
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for item in actors %}
                                    <tr>
                                        <td>{{ item.actorName }}</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>
                                            <a href="/actor/{{ item.actorName }}" class="btn btn-default" role="button"><span
                                                    class="glyphicon glyphicon-eye-open"></span> View Actor</a>
                                        </td>


                                        {% if session.username != user.email %}
                                            <td>
                                                <a href="/addactor/{{ item.actorName }}" class="btn btn-default"
                                                   role="button"><span class="glyphicon glyphicon-star"></span> Favorite</a>
                                            </td>
                                        {% endif %}


                                        {% if session.username == user.email %}
                                            <td>
                                                <a href="/deleteactor/{{ item.actorName }}" class="btn btn-default"
                                                   role="button"><span class="glyphicon glyphicon-remove"></span></a>
                                            </td>
                                        {% endif %}
                                    </tr>

                                {% endfor %}

                                </tbody>
                            </table>

                        {% else %}
                            <br><br><p>{{ user.firstName }} doesn't have any favorite actors yet.</p>
                        {% endif %}
                    </div>


                </div><!-- tab content -->
            </div><!-- end of container -->


        </div>
    </div>


{% endblock %}



